
.table {
  border: transparent;

  > thead {
    th {
      vertical-align: middle;
      background-color: $body-color;
      color: #FFF;
      &:nth-child(1) {
        border-top-left-radius: 0.5rem;
      }
      &:nth-last-child(1) {
        border-top-right-radius: 0.5rem;
      }
    }
  }

  tr {
    td {
      vertical-align: middle;
    }
    &:nth-last-child(1) {
      td {
        &:nth-child(1) {
          border-bottom-left-radius: 0.5rem;
        }
        &:nth-last-child(1) {
          border-bottom-right-radius: 0.5rem;
        }
      }
    }
  }

}

.table-empty {
  text-align: center;
}
